* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}


body {
    background-color: #001e4d;
}

.app {
     background-color: #fff;
     width: 90%;
     max-width: 600px;
     margin: 100px auto 0;
     border-radius: 10px;
     padding: 30px;
}

.app h1 {
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
}

ul {
    list-style-type: none;
}

.quiz-options li {
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
}

.quiz-options li:hover {
    background: #222;
    color: #fff;
}
.quiz-options li:active {
    transform: scale(0.97);
}

.selected {
    background: #222 !important;
    color: #fff !important;
}


#check-answer {
    background-color: #001e4d;
    color: #fff;
    font-weight: 600;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 15px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: block;
}

#playAgain-btn {
    font-weight: 600;
    border: none;
    border-radius: .5rem;
    padding: 0.5rem 1rem;
    margin: 20px auto;
    display: block;
    cursor: pointer;
    background-color: lightblue;

}
